<h1><%= @meetup.title %></h1>

<p>
	<%= @meetup.description %>
</p>

<ul>
	<% @meetup.comments.each_with_index do |comment, index| %>
		<li id="comment-<%= comment.id %>"><%= comment.content %> | <span><%= index + 1 %>楼</span></li>
	<% end %>
</ul>

<%= form_for @meetup.comments.new, url: comments_path, html: { id: 'comment-form' } do |f| %>
	<%= f.text_area :content %>
	<%= f.hidden_field :meetup_id, :value => f.object.meetup_id %>
	<%= f.submit "提交" %>
<% end %>